<mat-drawer-container style="height: 100vh;" class="example-container" [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="'over'">
        <div style="display: flex; flex-direction: column;">
            <button class="buttonNg" mat-stroked-button>Add planet</button>
            <!-- <button class="buttonNg" mat-stroked-button>Basic2</button> -->
            <!-- <button class="buttonNg" mat-stroked-button>Basic3</button> -->
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <button mat-raised-button (click)="drawer.toggle()">Mais opções</button>
    </mat-drawer-content>
</mat-drawer-container>